<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Jobs|Sokunabi</title>
<style>
    body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
        }
    .company_profile  {
                font-size: 25px; 
        }
    .update_and_delete {
        display: flex;
        flex-direction: row;
    }
</style>
</head>
<body>
    <h1 style="font-size: 60px; color: #0072C6;">Company Profile</h1>
    <div class="company_profile" style="margin-bottom: 60px;">
        <div>Company Name:<br><strong>{{ job.company_name }}</strong></br></div>
        <p>Company Description:<br><strong>{{ job.company_description }}</strong></br></p>
        <p>Location:<br><strong>{{ job.location }}</strong></br></p>
        <p>Business Description:</br><strong>{{ job.business_description }}</strong></br></p>
        <p>Capital:<br><strong>{{ job.capital }}円</strong></br></p>
        <p>Annual Sales:<br><strong>{{ job.annual_sales }}円</strong></br></p>
        Number of Employees:<br><strong>{{ job.number_of_employees }}名</strong></br>
    </div>
</body>
</html>