<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Employers|Sokunabi</title>
</head>
<body style="text-align: center;">
    <h1 style="margin-top: 305px; margin-bottom: 0px; font-size: 70px; color: #0072C6;">Sokunabi</h1>
    <h2 style="margin-top: 0px; font-size: 25px; color: #0072C6;">For Employers</h2>
    <div style="margin-bottom: 275px;">
        <a href="{% url 'co_sign_up' %}">Sign up</a>
        <a href="{% url 'co_login' %}">Login</a>
    </div>
    <div><a href="{% url 'index' %}">For Job Seekers</a></div>
</body>