<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sokunabi: The Simplest Job Search App</title>
</head>
<body style="text-align: center;">
    <h1 style="margin-top: 305px; font-size: 70px; color: #0072C6;">Sokunabi</h1>
    <div style="margin-bottom: 280px;">
        <a href="{% url 'sign_up' %}">Sign up</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
    <div><a href="{% url 'for_employers' %}">For Employers</a></div>
</body>