<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a Job|Sokunabi</title>
    <style>
        body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
        }
        h1 {
                font-size: 30px; 
                color: #0072C6;
                margin-top:10px;
                margin-bottom:10px;
        }
    </style>
</head>
<body>
    <h1>Post a Job</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
            <div><label>{{ field.label }}</label></div>
            {{ field.as_widget }}
        {% endfor %}
        <button type="submit">Posting</button>
    </form>
</body>